.badge-light {
	 background-color: #d3d9de;	
}

.currency {
	word-spacing: -1px;
}

#armortable td {
	white-space: nowrap;
}



th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(2px, -5px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 40px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  
}