<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title th:text="'XPZ WIKI - ' + ${item.realName}"></title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<h2 class="page-header" th:text=" ${item.realName} "></h2>

		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p
					th:utext=" ${#strings.replace(#strings.escapeXml(item.description),newLineChar,'&lt;br&gt;')} " />
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

				Front Armor: <span th:text=" ${item.frontArmor} "></span> <br>
				Side Armor: <span th:text=" ${item.sideArmor} "></span> <br>
				Rear Armor: <span th:text=" ${item.rearArmor} "></span> <br>
				Under Armor: <span th:text=" ${item.underArmor} "></span> <br>

				
				
				<br>Damage modifiers:  
				<div th:each="modd,iter : ${armorModifiers}">
					<div th:if="${item.damageModifier[iter.index] != 1 }">
					    <span style="padding-left: 15px" th:text="${modd}">mod name</span>:
					  	<span th:text="${#numbers.formatDecimal(item.damageModifier[iter.index]*100, 0, 0)}">modifier</span>%
				  	</div>
				</div>
				
				<br>Stats:
				<div th:each="stat : ${item.stats}">				
				    <span style="padding-left: 15px" th:text="${stat.key}">key</span>:
				    <span th:if="${stat.value >= 0 }" th:text="'+' + ${stat.value}">value</span>
				    <span th:if="${stat.value < 0 }" th:text=" ${stat.value}">value</span>
				</div>
				
				<div th:if="${item.weight != null }">
					<br>
					Weight: <span th:text=" ${item.weight} "></span>
				</div>
			</div>

		</div>

		<div class="card">
			<div class="card-body">
				<a href="/">Back to search</a>
			</div>
		</div>



	</div>
	<!-- /container -->
	
	<div th:insert="~{fragments/footer :: footer} ">...</div>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>