<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title th:text="'XPZ WIKI - ' + ${craft.realName}"></title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<h2 class="page-header" th:text=" ${craft.realName} "></h2>

		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p
				th:utext=" ${#strings.replace(#strings.escapeXml(craft.description),newLineChar,'&lt;br&gt;')} " />
				
				<div th:if="${manItem != null}"> Manufacture:<br>
					<div th:if="${manItem.Cost != null}"> Cost: <span th:text=" ${manItem.Cost}"></span>
					</div>
					<div th:if="${manItem.Time != null}"> Time: <span th:text=" ${manItem.Time}"></span>
					</div>
					<div th:if="${requiredItems != null}"> 
						<span th:text=" ${requiredItems}"></span>
					</div>
				</div>

			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				
				Fuel:  <span th:text=" ${craft.fuelMax} "></span> <br>
				Max speed: <span th:text=" ${craft.speedMax} "></span> <br>
				Shields:  <span th:text=" ${craft.shieldCapacity} "></span> <br>
				Weapons slots:  <span th:text=" ${craft.weapons} "></span> <br>
				Damage:  <span th:text=" ${craft.damageMax} "></span> <br>

				Soldiers:  <span th:text=" ${craft.soldiers} "></span> <br>
				Pilots:  <span th:text=" ${craft.pilots} "></span> <br>
				Vehicles:  <span th:text=" ${craft.vehicles} "></span> <br>
				Max large units:  <span th:text=" ${craft.maxLargeUnits} "></span> <br>
				Refuel Item:  <span th:text=" ${craft.refuelItem} "></span> <br>
				<br>
				Buy price:  <span th:text=" ${craft.costBuy} "></span> <br>

				Required tech: <a th:if="${reqTech != null}" th:href="@{/research(id=${reqTech.name})}" th:text=" ${reqTech.realName} "></span> <br>
			</div>

		</div>

		<div class="card">
			<div class="card-body">
				<a href="/">Back to search</a>
			</div>
		</div>



	</div>
	<!-- /container -->
	
	<div th:insert="~{fragments/footer :: footer} ">...</div>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>