<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>XPZ WIKI</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<h2 class="page-header">Welcome to a X-Piratez Wiki*!</h2>
		<div class="jumbotron2">



			<form action="/">
				<div class="form-row">
					<!-- <div class="input-group-prepend col">
						<label th:if="${result} != null" class="input-group-text">Search for something else: </label>
					</div> -->
					<div class="col"><input class="form-control" type="text" name="search" placeholder="Search for a tech or item"></div>
					<div class="col-2"><button type="submit" class="btn btn-primary mb-2 ">Search</button></div>					
				</div>
				<br>
			</form>
			<p th:if="${researchResult == null && itemResult == null}">* Actually not a real wiki. This site just gives you an opportunity to read up on the techs, weapons, crafts, etc found in the game.
				To help you find your way around the big tech tree. </p>
				
			<p>New: <a href="savegame">analyze your save game</a></p>
			
			<div th:if="${loaded != null && !loaded} ">
				<p> The site is not yet loaded. Please reload after 20 seconds.out
				</p>
			</div>
			
			<div th:if="${saveGameResearch != null && itemResult == null && !saveGameResearch.isEmpty()} ">
				<p>What are you currently researching: (<a href="/?reload=true" >reload</a>)</p>

				<div th:each="item: ${saveGameResearch}">
					<a th:href="@{/research(id=${item.name})}" th:text="${item.realName}"></a>
				</div>
				<br>
			</div>

			<div th:if="${researchResult == null && itemResult == null && items != null } ">
				<p>Five random research articles:</p>

				<div th:each="item: ${items}">
					<a th:href="@{/research(id=${item.name})}" th:text="${item.realName}"></a>
				</div>
			</div>

			<div th:if="${researchResult != null}">
				<span th:text="'Found ' + ${researchResult.size()} + ' articles'"></span>
				<div th:each="item: ${researchResult}">
					<a th:href="@{/research(id=${item.name})}" th:text="${item.realName}"></a>
				</div>
				<br>
			</div>

			<div th:if="${itemResult != null}">
				<span th:text="'Found ' + ${itemResult.size()} + ' items'"></span>
				<div th:each="item: ${itemResult}">
					<a th:href="@{/item(id=${item.name})}" th:text="${item.realName}"></a>
				</div>
				<br>
			</div>
			
			<div th:if="${armorResult != null}">
				<span th:text="'Found ' + ${armorResult.size()} + ' armors'"></span>
				<div th:each="item: ${armorResult}">
					<a th:href="@{/armor(id=${item.name})}" th:text="${item.realName}"></a>
				</div>
				<br>
			</div>

			<div th:if="${craftResult != null}">
				<span th:text="'Found ' + ${craftResult.size()} + ' crafts'"></span>
				<div th:each="craft: ${craftResult}">
					<a th:href="@{/craft(id=${craft.name})}" th:text="${craft.realName}"></a>
				</div>
				<br>
			</div>			
		</div>
	</div>

	<div th:insert="~{fragments/footer :: footer} ">...</div>
</body>
</html>