<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title th:text=" ${ 'XPZ WIKI - ' + item?.realName}">XPZ WIKI</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<h2 class="page-header" th:text=" ${item?.realName} ">Item Not found</h2>



		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<div th:if="${!notFound}">
					<div
						th:with="isStoreItem = ${item.armorName != null && #strings.startsWith(item.description,'Description not found')  }">
						<div th:if="${!isStoreItem}">
							<p
								th:utext=" ${#strings.replace(#strings.escapeXml(item.description),newLineChar,'&lt;br&gt;')} " />
								
							<p th:if="${item.flatRate}" >
								<span th:text="'Flat TU cost: '+ ${flatCost.time} +', Energy: ' + ${flatCost.energy}">
							</p>
						</div>
						
						<p th:if="${isStoreItem}">
							This is a store item for this <a th:href="@{/armor(id=${item.armorName})}" th:text="'armor'">
							</a>

						</p>
						<p>
							Used for manufacturing of: <br>
							<div th:if="${ usedFor.notEmpty}" >
								<span th:each="item,iter : ${usedFor.idList}">
								   <a th:href="@{/item(id=${item})}" th:text="${usedFor.nameList[iter.index]}"></a>
								   <span th:text="${iter.last}? '' : ', '"></span>
							    </span>
							</div>
							<span th:unless="${ usedFor.notEmpty}" > &nbsp; not used for anything</span>
						</p>
					</div>
				</div>
				<div th:if="${notFound}">
					Item not found.
				</div>
			</div>

			<!-- Side column -->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

				<div th:if="${!notFound}"
					th:insert="${ item != null && (item.power != null || ammoList != null) } ? ~{fragments/weapon :: weapon} : ~{}">...</div>

			</div>

		</div>
		<div style="margin-top: 8px" class="card">
			<div class="card-body">
				<a href="/">Back to search</a>
			</div>
		</div>



	</div>
	<!-- /container -->

	<div th:insert="~{fragments/footer :: footer} ">...</div>

	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>