<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title th:text="'XPZ WIKI - ' + ${item.realName}"></title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="../static/css/custom.css" rel="stylesheet"
	th:href="@{/css/custom.css}" />
	
</head>
<body>
	<div class="container">
		<h2 class="page-header" th:text=" ${item.realName} ">
		</h2>



		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p
					th:utext=" ${#strings.replace(#strings.escapeXml(item.description),newLineChar,'&lt;br&gt;')} " />
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<h5>Dependends on:</h5>
				<ul>
					<li th:each="dep : ${deps}"><a
						th:href="@{/research(id=${dep.name})}" th:text="${dep.realName}"></a>
					</li>
				</ul>
				
				
				<h5>Unlocks</h5>
				<ul>
					<li th:each="unlock : ${unlocks}"><a
						th:href="@{/research(id=${unlock.name})}" th:text="${unlock.realName}"></a>
					</li>
				</ul>

			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div th:if="${showItemLink == true}">
					<a th:href="@{/item(id=${item.name})}" th:text="'Check the item stats '"> </a> <span class="badge badge-light">New</span>
				</div>

				<a href="/">Back to search</a>
			</div>
		</div>



	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>