<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title th:text=" ${ 'XPZ WIKI - Save Game' }">XPZ WIKI</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="../static/css/custom.css" rel="stylesheet"
	th:href="@{/css/custom.css}" />
</head>
<body>
	<div class="container">
		<h2 class="page-header">Save Game Analyzis </h2>

		<br/>

		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			
			    <div th:if="${saveGameUpLoaded && !saveGameLoaded && message!=null }">
					<p  th:text=" ${message} ">Message not found</h2>
				</div>
				
			
				
				<div th:if="${!saveGameLoaded && !saveGameUpLoaded}">
					<p>Save Game not found. Do you want to upload one:</p>
				
					<form method="POST" enctype="multipart/form-data" action="/uploadSave">					

						<div class="form-group ">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="file-input" name="file">
								<label class="custom-file-label" for="customFile">Choose the save game to upload:</label>
							</div>
						</div>
						
					<!--	<div class="form-group ">							
							<button class="btn btn-primary" type="submit">Upload</button>							
						</div>
				-->
						<div class="form-group ">
							<p id="msg"></p>
						</div>
					</form>
		</div>
				
				<div th:if="${saveGameLoaded}">
					<div th:if="${saveGameResearch != null && !saveGameResearch.isEmpty()} ">
						<p>Currently researching: </p>

						<div th:each="item: ${saveGameResearch}">
							<a th:href="@{/research(id=${item.name})}" th:text="${item.realName}"></a>
						</div>
						<br>
					</div>
					
				</div>
				
				
			</div>

			<!-- Side column -->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div th:if="${saveGameLoaded}">
					Funds: $<span class="currency" th:text="${ #numbers.formatInteger(funds ,0, 'WHITESPACE')}"></span>
				</div>
				</br>
				<span id = "file-content"></span>
				

			</div>

		</div>
		<div style="margin-top: 8px" class="card">
			<div class="card-body">
				<a href="/">Back to search</a>
			</div>
		</div>



	</div>
	<!-- /container -->

	<div th:insert="~{fragments/footer :: footer} ">...</div>

	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<script src="../static/jsesprima.js"></script>
	<script src="/js/js-yaml.min.js"></script>
	<script>
	function money (inp) {
		return inp.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ;
	}
	
	function readSingleFile(e) {
	  var msg = document.getElementById('msg');
	  msg.textContent="Analyzing the save game, please wait.";
	  var file = e.target.files[0];
	  if (!file) {
		return;
	  }
	  var reader = new FileReader();
	  reader.onload = function(e) {
		var contents = e.target.result;
		try {
			const result = jsyaml.safeLoadAll(contents);
			var replacer = function(k, v) { if (v === undefined) { return null; }  return v; };
			var bases = JSON.stringify(result[1]['bases'], replacer)
			var research = JSON.stringify(result[1]['bases'], replacer)
			localStorage.setItem('bases', bases );
			console.log(result[1]);

		} catch (e) {
			console.log(e);
		}
		msg.textContent="Done. Reloading. Bases: ";
		var bases2 = JSON.parse(localStorage.getItem('bases')); 
		
		bases2.forEach ( function(item, index) {
				 msg.textContent =  msg.textContent +' '+ (item.name);	
		});
		
		//displayContents(contents);
	  }
	  reader.readAsText(file);
	}

	function displayContents(contents) {
	  var element = document.getElementById('file-content');
	  element.textContent = contents;
	}

	document.getElementById('file-input')
	  .addEventListener('change', readSingleFile, false);
	</script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>